#headerbar-menu > .block-menu_block{display: none;}

#headerbar-menu .om-maximenu-edit{display: none;}

#headerbar-menu .om-maximenu ul.om-menu li.om-leaf{position: static;}
#headerbar-menu .om-maximenu ul.om-menu li.om-leaf .om-link{text-transform: uppercase; color: #ccc;}
#headerbar-menu .om-maximenu ul.om-menu li.om-leaf:hover a{border-bottom: 8px solid #f2f2ed;}
#headerbar-menu .om-maximenu ul.om-menu li.om-leaf:hover .om-maximenu-content a{border-bottom: 0;}
#headerbar-menu .om-maximenu ul.om-menu li.om-leaf > .om-link{height: 23px; line-height: 22px;}

#headerbar-menu .om-maximenu .om-menu .om-maximenu-open{bottom: 0; color: #333; line-height: 10px;}

/* OM Maximenu Content - no style */
#headerbar-menu .om-maximenu-no-style .om-maximenu-content { left: 0px; top: 30px; padding: 0; width: 950px; }
#headerbar-menu .om-maximenu-no-style .om-maximenu-content .block-block{ display: block; float: left; width: 225px; padding: 0 25px; border-right: 1px solid #999; }
#headerbar-menu .om-maximenu-no-style .om-maximenu-content .block-block p{ color: #b00; font-family: "capita", Georgia, serif; font-size: 16px; font-weight: 300;}
#headerbar-menu .om-maximenu-no-style .om-maximenu-content .block-block p:last-child{ margin-bottom: 0; }

#headerbar-menu .om-maximenu-no-style .om-maximenu-content .block-menu_block {width: 657px; margin-left: 8px; margin-right: 9px; display: block; float: left;}
#headerbar-menu .om-maximenu-no-style .om-maximenu-content .block-menu_block li{width: 219px; margin: 0; font-size: 14px; height: 40px; line-height: 40px;}
#headerbar-menu .om-maximenu-no-style .om-maximenu-content .block-menu_block a{color: #333; border: none; padding: 0 15px; font-weight: 300;}
#headerbar-menu .om-maximenu-no-style .om-maximenu-content .block-menu_block a:hover{text-decoration: underline;}

#headerbar-menu .om-maximenu-no-style .om-maximenu-middle { background: #f2f2ed; }
#headerbar-menu .om-maximenu-no-style .om-maximenu-middle-right { padding: 20px 0px; }

/* OM Maximenu Edit Links */
#headerbar-menu .om-maximenu-content .edit-block { display: block; position: absolute; top: 0; right: 0; font-size: .7em; background-color: transparent; }
#headerbar-menu .om-maximenu-content .block {position: relative;}
#headerbar-menu .om-maximenu-content .block:hover .edit-block { display: block; z-index: 1000; }
#headerbar-menu .om-maximenu-content .block .edit-block a {background: url("images/icons.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0); display: block; float: left; margin: 3px; height: 0; width: 16px; padding: 16px 0 0; overflow: hidden; border: none;}
#headerbar-menu .om-maximenu-content .block .edit-block a:hover{background: inherit;}
#headerbar-menu .om-maximenu-content .block .edit-block a.block-config { background-position: 0 0; }
#headerbar-menu .om-maximenu-content .block .edit-block a.block-config:hover { background-position: 0 -16px; }
#headerbar-menu .om-maximenu-content .block .edit-block a.block-edit-menu { background-position: -16px 0; }
#headerbar-menu .om-maximenu-content .block .edit-block a.block-edit-menu:hover { background-position: -16px -16px; }
#headerbar-menu .om-maximenu-content .block .edit-block a.block-edit-view { background-position: -32px 0; }
#headerbar-menu .om-maximenu-content .block .edit-block a.block-edit-view:hover { background-position: -32px -16px; }